@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}

@font-face {
  font-family: 'Open Sans Semibold';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format("woff");
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format("woff");
}

@font-face {
  font-family: 'Open Sans Extrabold';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hqRDOzjiPcYnFooOUGCOsRk.woff) format("woff");
}

@font-face {
  font-family: 'entypo';
  font-style: 'normal';
  font-weight: 'normal';
  src: url("http://weloveiconfonts.com/api/fonts/entypo/entypo.eot");
  src: url("http://weloveiconfonts.com/api/fonts/entypo/entypo.eot?#iefix") format("eot"), url("http://weloveiconfonts.com/api/fonts/entypo/entypo.woff") format("woff"), url("http://weloveiconfonts.com/api/fonts/entypo/entypo.ttf") format("truetype"), url("http://weloveiconfonts.com/api/fonts/entypo/entypo.svg#entypo") format("svg");
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
  font-family: "Open Sans", sans-serif;
  color: #212121;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: #ededed;
}

.entypo {
  font-family: "entypo", sans-serif !important;
}

.entypo-before:before {
  content: attr(data-icon);
  font-family: "entypo", sans-serif;
  margin-right: 0.5em;
  color: inherit;
}

.entypo-after:after {
  content: attr(data-icon);
  font-family: "entypo", sans-serif;
  margin-left: 0.5em;
  color: inherit;
}

a {
  text-decoration: none;
}

.nop {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.wrap {
  width: 100%;
  max-width: 100em;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  position: relative;
  z-index: 2;
  -webkit-transition: all, linear, 0.1s;
  -moz-transition: all, linear, 0.1s;
  -o-transition: all, linear, 0.1s;
  transition: all, linear, 0.1s;
}

.header {
  width: 100%;
  top: 0;
  text-align: center;
  height: 2.5em;
}
@media (min-width: 53em) {
  .header {
    text-align: left;
    height: 3.6em;
    width: 20%;
  }
}
@media (min-width: 100em) {
  .header {
    width: 20em;
  }
}

.content {
  position: relative;
}
@media (min-width: 53em) {
  .content {
    margin-top: 0;
  }
}

.sidebar1, .sidebar2 {
  width: 20%;
  overflow: auto;
}

@media (min-width: 30em) {
  .filter {
    width: 100%;
  }
}
@media (min-width: 53em) {
  .filter {
    width: 80%;
    left: 20%;
  }
}
@media (min-width: 75em) {
  .filter {
    width: 60%;
  }
}
@media (min-width: 100em) {
  .filter {
    width: 60em;
    left: 20em;
  }
}

.sidebar1 {
  position: fixed;
  z-index: 1;
  width: 20em;
  top: 0;
  -webkit-transition: all, linear, 0.1s;
  -moz-transition: all, linear, 0.1s;
  -o-transition: all, linear, 0.1s;
  transition: all, linear, 0.1s;
}
@media (min-width: 53em) {
  .sidebar1 {
    top: 3.6em;
    left: 0;
    height: auto;
    width: 20%;
    position: absolute;
    z-index: 3;
  }
}
@media (min-width: 100em) {
  .sidebar1 {
    width: 20em;
  }
}

.center {
  min-width: 60%;
  background: #FFF;
  min-height: 70em;
  position: relative;
}
@media (min-width: 53em) {
  .center {
    width: 80%;
    margin-left: 20%;
    float: left;
  }
}
@media (min-width: 75em) {
  .center {
    width: 60%;
  }
}

body.toggled {
  overflow: hidden;
}
@media (min-width: 30em) {
  body.toggled {
    overflow: visible;
  }
}
body.toggled .sidebar1 {
  height: 100% !important;
  z-index: 3;
}
body.toggled .wrap {
  -webkit-transform: translateX(20em);
  -moz-transform: translateX(20em);
  -ms-transform: translateX(20em);
  -o-transform: translateX(20em);
  transform: translateX(20em);
}
body.toggled .widget ul.post_info.fr li {
  margin-top: 0;
}

.sidebar2 {
  display: none;
}
@media (min-width: 75em) {
  .sidebar2 {
    float: left;
    display: block;
    position: relative;
    top: -3.5em;
  }
}

/* 
WEB DD3B2A
PS 2491db
DEV 228613
WP 2b759a
MOBI 81a32b
*/
.header {
  background: #dd3b2a;
}

a {
  color: #dd3b2a;
  -webkit-tap-highlight-color: rgba(221, 59, 42, 0.3);
}

a:hover {
  color: #c02e1f;
  border-bottom: 1px solid #dd3b2a;
}

.button:hover {
  background: #c02e1f;
}

button.ctx {
  -webkit-tap-highlight-color: #d13221;
}

button.ctx:hover, .toggled button.ctx {
  background: #d13221;
}

.filter li a {
  background: #c02e1f;
}
.filter li a:hover {
  background: #d13221;
  border-bottom: 0;
}

.filter li.current a {
  background: #ae2a1c;
  border-bottom: 0;
}

@media (min-width: 53em) {
  .filter li a {
    background: #d13221;
  }
  .filter li a:hover {
    background: #dd3b2a;
  }

  .filter li.current a {
    background: #c02e1f;
    border-bottom: 0;
  }
}
.filter li:hover a:before, .filter li.current a:before {
  height: 10px;
  width: 10px;
  background: blue;
  position: absolute;
  top: 0px;
  border-radius: 2em;
}

.filter li.current .arr {
  bottom: -0.5em;
}

.button {
  color: #8B8B8B;
  background: #E7E7E7;
  font-size: 0.8em;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
  padding: 1em 1.5em;
  text-align: center;
  border: 0;
  display: block;
  width: 100%;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.1s;
  -moz-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  transition: all linear 0.1s;
}
.button:hover {
  border: 0;
  color: white;
}
@media (min-width: 30em) {
  .button.read_more {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: auto;
  }
}
.button.read_more:after {
  content: "\E762";
  font-family: "entypo", sans-serif;
  margin-left: 0.5em;
  color: inherit;
}

.header .logo {
  top: 0.5em;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
@media (min-width: 53em) {
  .header .logo {
    top: 1em;
    padding: 0 1.2em;
  }
}
.header .logo:hover {
  border: 0;
}
.header .logo img {
  display: block;
  width: 75%;
}
@media (min-width: 53em) {
  .header .logo img {
    min-width: 7.5em;
    width: 100%;
  }
}
@media (min-width: 75em) {
  .header .logo img {
    width: 100%;
  }
}

button.ctx {
  border: 0;
  background: transparent;
  color: white;
  font-size: 1.6em;
  padding: 0 0.6em;
  margin: 0;
  height: 100%;
  -webkit-transition: background, linear, 0.1s;
  -moz-transition: background, linear, 0.1s;
  -o-transition: background, linear, 0.1s;
  transition: background, linear, 0.1s;
}
button.ctx:hover {
  cursor: pointer;
}
@media (min-width: 53em) {
  button.ctx {
    display: none;
  }
}

.widget {
  position: relative;
  clear: both;
  margin: 0.8em 0;
}
.widget h4 {
  text-transform: uppercase;
  color: #333;
  font-size: 0.8em;
  padding: 0.8em;
}
.widget p {
  font-size: 0.9em;
}
.widget a {
  border: 0;
}
.widget li a:hover {
  border: 0;
}
.widget .inner {
  padding: 0 0.8em;
}
.widget.sf_c {
  margin: 0;
}
.widget.sf_c .inner {
  padding: 1em 1.2em 1em 1.2em;
}

.sidebar1 {
  background: #3e4142;
}
.sidebar1 h4 {
  color: #6a7071;
}
.sidebar1 * {
  color: #bfbfbf;
}
.sidebar1 p a {
  color: #e6e6e6;
}
.sidebar1 b, .sidebar1 strong, .sidebar1 span {
  color: #e6e6e6;
  font-size: 0.9em;
}
.sidebar1 a:hover {
  color: white;
}

.widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1em;
}
.widget ul li {
  margin: 0 0 0.6em 0;
}
.widget ul li a, .widget ul li {
  font-size: 0.9em;
  font-family: 'Open Sans Semibold';
}
.widget ul li:last-child {
  margin: 0 !important;
}
.widget ul.social li {
  margin: 0 0.2em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.widget ul.social li a {
  font-size: 2em;
  display: block;
  -webkit-transition: all, linear, 0.2s;
  -moz-transition: all, linear, 0.2s;
  -o-transition: all, linear, 0.2s;
  transition: all, linear, 0.2s;
}
.widget ul.social li a:hover {
  opacity: .7;
}
.widget ul.social li a.rss {
  width: 1.813em;
  height: 1.813em;
  line-height: 1.813em;
  font-size: 1.1em;
  text-align: center;
  color: white;
  background: #ff6600;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
}
.widget ul.social li a.fb {
  color: #3b5998;
}
.widget ul.social li a.twt {
  color: #1eb9f0;
}
.widget ul.social li a.gp {
  color: #d95433;
}
.widget ul.post_info b {
  font-family: 'Open Sans Bold';
  display: block;
}
@media (min-width: 53em) {
  .widget ul.post_info.fr {
    width: 100%;
  }
}
@media (min-width: 75em) {
  .widget ul.post_info.fr {
    width: auto;
  }
}
.widget ul.post_info.fr li {
  margin-top: 1em;
}
@media (min-width: 75em) {
  .widget ul.post_info.fr li {
    margin-top: 0;
  }
}
.widget ul.post_info .button {
  padding: 0.89em 2.5em;
}
.widget ul.list {
  padding: 0;
}
.widget ul.list li {
  margin: 0;
}
.widget ul.list li.current a {
  background: #4a4e4f;
}
.widget ul.list li a {
  padding: 0.7em 0.8em;
  clear: both;
  display: block;
  -webkit-transition: all, linear, 0.1s;
  -moz-transition: all, linear, 0.1s;
  -o-transition: all, linear, 0.1s;
  transition: all, linear, 0.1s;
}
.widget ul.list li a:hover {
  background: #4a4e4f;
}
.widget ul.list li a:hover .count {
  color: white;
}
.widget ul.list li a .count {
  color: #6f7577;
  height: 2.1em;
  width: 2.1em;
  line-height: 2.1em;
  text-align: center;
  float: right;
  position: relative;
  bottom: 0.4em;
  font-weight: bold;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-transition: all, linear, 0.2s;
  -moz-transition: all, linear, 0.2s;
  -o-transition: all, linear, 0.2s;
  transition: all, linear, 0.2s;
}
.widget ul.serie li {
  counter-increment: boxes;
}
.widget ul.serie li a:before {
  content: counter(boxes);
  color: #7c8284;
  margin-right: 0.5em;
  font-weight: bold;
}
.widget ul .button {
  background: #4a4e4f;
  font-family: 'Open Sans Bold';
  text-transform: none;
}
.widget ul .button span.entypo {
  display: inline;
  margin-right: 0.6em;
}
.widget ul .button:hover {
  background: #575b5c;
}

.sf {
  background: #2f3132;
  border: 0;
  padding: 0.6em 0.6em 0.6em 2.1em;
  width: 100%;
  color: #FFF;
  font-size: 0.9em;
  margin: 0;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  -webkit-transition: all, linear, 0.2s;
  -moz-transition: all, linear, 0.2s;
  -o-transition: all, linear, 0.2s;
  transition: all, linear, 0.2s;
}
.sf + .entypo {
  color: #969798;
  position: absolute;
  left: 1.3em;
  top: 33%;
  font-size: 1.4em;
}
.sf:hover {
  background: #202222;
}
.sf:active, .sf:focus {
  outline: none;
  background: white;
  color: #3e4142;
}

.center:before {
  content: "";
  height: 100%;
  background: #3e4142;
  display: block;
  position: absolute;
  width: 20em;
  left: -20em;
  z-index: 0;
}

.filter {
  text-align: center;
  clear: both;
}
@media (min-width: 53em) {
  .filter {
    text-align: center;
    clear: both;
    top: 0;
    position: absolute;
  }
}
.filter li {
  display: inline;
}
.filter li a {
  padding: 0.7em 0;
  width: 16.66666666%;
  display: inline-block;
  line-height: 1.2em;
  position: relative;
  -webkit-transition: all, linear, 0.1s;
  -moz-transition: all, linear, 0.1s;
  -o-transition: all, linear, 0.1s;
  transition: all, linear, 0.1s;
}
.filter li span.text {
  color: white;
  font-family: 'Open Sans Semibold';
  font-size: 0.8em;
  display: none;
}
@media (min-width: 30em) {
  .filter li span.text {
    display: block;
  }
}
.filter li span.icon {
  font-size: 1.3em;
  font-family: 'entypo';
  color: white;
  display: block;
  /*@include breakpoint(pikachu){
  	display: inline;
  	margin-right: 0.5em;
  	position: relative;
  	top: 2px;
  	font-size: 1.4em;
  }*/
}
.filter li.current, .filter li:hover {
  /*a{
  	background: white;
  	border: 0;
  }*/
}

/* Loop / Posts */
.post {
  background: white;
  padding: 1.2em 1.2em 1.8em 1.2em;
}
@media (min-width: 53em) {
  .post {
    padding: 1.8em;
  }
}
.post h1 {
  font: 1.5em/1.1em "Open Sans Bold", sans-serif;
  letter-spacing: -0.08em;
  margin: 0 0 0.25em 0;
}
@media (min-width: 30em) {
  .post h1 {
    font-size: 2em;
  }
}
.post h1 a {
  color: inherit;
  font: inherit;
}
.post h1 a:hover {
  border: 0;
  color: #333;
}
.post img {
  display: block;
  width: 100%;
}
.post .thumbnail {
  margin: 0em 1em 0em 0em;
  width: 26.5%;
  max-width: 12.5em;
  float: left;
  overflow: hidden;
}
.post .tags a {
  font-weight: bold;
  font-size: 0.9em;
}
.post .author {
  margin-bottom: 0.3em;
  font-size: 0.9em;
}
.post ul.meta {
  margin-bottom: 0.8em;
  padding: 0.25em 0;
  border-bottom: 1px solid #e6e6e6;
}
.post ul.meta li {
  display: inline-block;
  margin-right: 1em;
}
.post ul.meta li.date span {
  color: gray;
}
.post ul.meta li span, .post ul.meta li a {
  font-size: 0.8em;
}
.post ul.meta li a:hover {
  border: 0;
}
.post ul.meta li .entypo {
  margin-right: 0.5em;
  color: #bbbbbb;
}
.post p {
  line-height: 1.5em;
  font-size: 0.9em;
  margin-bottom: 1.5em;
}

.hide {
  display: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

input[type='text'], input[type='number'], textarea {
  font-size: 1em;
}

cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
